<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="/favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=22193648">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=22193648">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=22193648">
    <script defer src="/assets/js/scripts.min.js?v=22193648"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(main='menu-item',status=${authorized} ? 'authorized' : 'unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title" th:text="#{basket}">Корзина
            </h1>
            <h3 th:if="${isCartEmpty}">Корзина пуста</h3>
            <form class="form Cart" action="#" method="post">
                <div class="Cart-product" th:each="book: ${bookCart}">
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img"
                                                                                                   th:src="${book.getImage()}"
                                                                                                   alt="card.jpg"/></a>
                        </div>
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_info">
                                <div class="Cart-author"><a href="#" th:text="${book.authorsFullName().size() > 1} ? ${book.authorsFullName().get(0)} + ' и другие' : (${book.authorsFullName().size() == 1} ? ${book.authorsFullName().get(0)} : '')">Борис Васильевич Бедный</a>
                                </div>
                                <div class="Cart-title"><a th:href="@{'/books/' + ${book.slug}}" th:text="${book.title}">Жизнь</a>
                                </div>
                                <div class="Cart-rating"><span class="Rating"><span class="Rating-stars"><span
                                        class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span><span class="Rating-star">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000"
                                      d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg></span></span></span>
                                </div>
                                <div class="Cart-buttons">
                                    <div class="Cart-btn">
                                        <button class="btn btn_primary btn_outline" data-sendstatus="KEPT"
                                                data-bookid="[1122]"><span class="btn-icon"><img
                                                src="/assets/img/icons/heart.svg" alt="heart.svg"/></span><span
                                                class="btn-content" th:text="#{postpone}">Отложить</span>
                                        </button>
                                    </div>
                                    <div class="Cart-btn">
                                        <button class="btn btn_danger btn_outline" data-sendstatus="UNLINK"
                                                th:attr="data-bookid=${'cart/remove/' + book.slug}" ><span class="btn-icon"><img
                                                src="/assets/img/icons/trash.svg" alt="trash.svg"/></span><span
                                                class="btn-content" th:text="#{remove}">Удалить</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_price">
                                <div class="Cart-priceTitle" th:text="#{price}">Цена:
                                </div>
                                <div class="Cart-price Cart-price_old"  th:if="${book.discount!=0}" th:text="${book.price}">150 р.
                                </div>
                                <div class="Cart-price" th:attr="price-old=${book.price}"  th:attrappend="price=${#numbers.formatDecimal(book.price - (book.discount * book.price),1,2)}" th:text="${#numbers.formatDecimal(book.price - (book.discount * book.price),1,2)}">100 р.
                                </div>
                                <div class="Cart-sale" th:if="${book.discount}"  th:text="${#numbers.formatInteger(book.discount * 100,1)} +' % скидка'">-30%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Cart-total" th:if="${bookCart.size() > 0}">
                    <div class="Cart-block Cart-block_total">
                        <strong class="Cart-title" th:text="#{total.price}">Итого:
                        </strong><span class="Cart-price">534 р.</span><span class="Cart-price_old">658 р.</span>
                    </div>
                    <div class="Cart-block"><a class="btn btn_success btn_md" th:href="@{/books/pay}" href="/order.html" th:text="#{buy}">Купить</a>
                    </div>
                </div>
            </form>
            <label th:if="${paySuccess}">Книги были успешно куплены</label>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<script>

    document.addEventListener("DOMContentLoaded", getTotalPrice);
    function getTotalPrice() {
        var elements = document.querySelectorAll(".Cart-price")
        if (elements.length == 0) {
            return
        } else {
            let price = 0.0;
            let oldPrice = 0.0;
            for (let element of elements) {
                price += Number(element.getAttribute('price'))
                oldPrice += Number(element.getAttribute('price-old'))
            }
            let element = document.querySelector(".Cart-total")
            element.querySelector(".Cart-price").textContent = Math.round(price * 10) / 10;
            element.querySelector(".Cart-price_old").textContent = Math.round(oldPrice * 10) / 10;
        }

    }




</script>
</body>
</html>